/* ウインドウ幅が767px以上の場合に適用 */
@media screen and (min-width: 767px) {
}


/* ウィンドウの幅が最大767pxまでの場合に適用 */
@media screen and (max-width: 767px) {

    .header{
        width: 250px;
    }

    .right{
        width: 100px;
    }
    
    .footer{
        width: 250px;
    }

}


/* ウィンドウの幅が最大479pxまでの場合に適用 */
@media screen and (max-width: 479px) {
    .header{
        width:150px;
    }

    .right{
        float: none;
        width: 150px;
    }

    .left{
        float: none;
        width: 150px;
    }

    .footer{
        width: 150px;
    }


}